## OAuth2 Proxy Config File
## https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview

provider = "google"
http_address = "0.0.0.0:4180"
upstreams = [
    "http://lifeos-proxy:80"
]

email_domains = [
    "*"
]
authenticated_emails_file = "/etc/oauth2-proxy/emails.txt"

# Cookie configuration
cookie_name = "_oauth2_proxy"
cookie_secure = false
cookie_httponly = true
cookie_expire = "168h"
cookie_refresh = "1h"

# We assume OAuth credentials are provided via env vars 
# (OAUTH2_PROXY_CLIENT_ID, OAUTH2_PROXY_CLIENT_SECRET, OAUTH2_PROXY_COOKIE_SECRET)

pass_access_token = true
pass_authorization_header = true
set_authorization_header = true
set_xauthrequest = true
skip_auth_preflight = true
